body {
    background: #151F2A;
    color: white;
}
.position-relative.js-header-wrapper {
    display: none;
}
.pagehead.repohead.instapaper_ignore.readability-menu.experiment-repo-nav.pt-0.pt-lg-4 {
    display: none;
}
.footer.container-lg.width-full.p-responsive {
    display: none;
}
div#wiki-rightbar {
    display: none;
}
.d-flex.flex-column.flex-md-row.gh-header {
    opacity: 0;
    pointer-events: none;
    height: 0px;
}
a.muted-link {
    display: none;
}
div#wiki-footer {
    display: none;
}
.mt-2.mt-md-1.pb-3.gh-header-meta {
    display: none;
}
.application-main {
    margin-top: 60px;
}