
body {
    overflow: hidden;
    background: #191F2B;
    color: white;
    font-family: arial;
}

webview#timeline {
    position: fixed;
    top: 55px;
    left: 0px;
    z-index: 1;
    width: -webkit-fill-available;
    height: calc(100% - 55px);
}

webview#tweet {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}


svg.homeIcon {
    fill: white;
}
svg.searchIcon1 {
    fill: white;
}
svg.bellIcon {
    fill: white;
}
svg.dmIcon {
    fill: white;
}
svg.tweetIcon {
    fill: white;
}

svg.tweetIcon {
    background: #609AF0;
    right: 0px;
    position: absolute;
}

.navMENU {
    position: fixed;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: 55px;
    z-index: 5;
    background: rgba(25, 31, 43, 0.75);
    backdrop-filter: blur(10px) brightness(0.7);
}
.menu {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0px,-50%);
    width: -webkit-fill-available;
    padding: 0px 20px;
}
.menu svg {
    width: 23px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 10px;
}
.menu svg:hover {
    background: rgba(50, 56, 80, 0.25);
}
svg#selected {
    background: #323850;
}